/* Inicio Cabezera superior */

.header1{
    background-color: rgb(33, 36, 46);
    width: 100%;
    height: auto;
    padding: 1.5625rem;
    display: flex;
    justify-content:space-around;
    font-family: "Montserrat";
    

    .container{
        display:flex;
        align-content: center center;
       

        i{
                color: tomato;
            }
        
        a{
            color:white;
            text-decoration: none;
            margin: 0 1.25rem;
        }
    }
}

/* Fin cabecera superior */

/* Inicio Cabecera inferior */

.header2 {
    padding: 1rem;
    height: auto;
    font-family: "Montserrat";
    position:sticky;
    z-index: 1;
}

.header2 .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header2 .container .logo a img{
    max-width: 6.25em;
    height: auto;
}

.header2 .container .hamburguesa {
    cursor: pointer;
    width: 3.125rem;
}

.header2 .container .hamburguesa div{
width: 1.875rem;
height: 0.125rem;
background-color: #aaa;
margin: 0.375rem 0px;
}

.header2 .container .menu {
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    gap:0.75rem;
}

.header2 .container .menu li a{
    display:inline-block;
    color: #aaa;
    text-decoration: none;
    width: 100%;
    text-align: right;
    margin:0px 0.625rem;
    padding: 0px 1.25rem;
    transition: 0.5s;
}