/* Principal */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* ---- */
/* Cabezera superior */
.header1{
    background-color: rgb(33, 36, 46);
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.header1 nav ul li {
    color: white;
    display: inline-block;
    justify-content: center;
    margin:0px 15px;
}

i{
    color: tomato;
}

.header1 nav ul li a {
    text-decoration: none;
    color: inherit;
}
/* ---- */
/* Cabecera inferior */

.header2 {
    background-color: beige;
        width: 100%;
        height: auto;
}



.header2 nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header2 nav ul li{
    color: gray;
    margin:auto;
}

.header2 nav ul li a {
    text-decoration: none;
    color: inherit;
}

.logo{
    max-width: 60%;
    height: auto;
}
